{% extends "base.j2" %}
{% from "macros.j2" import render_overview with context  %}
{% block main %}
{% block page_title %}<h1 class="title">{{ resource.meta.title }}</h1>{% endblock %}
{{ render_overview (resource.meta.language, 'clearfix') }}
{% endblock %}